{% block navbar %}
      <div class="navigation shadow">
          <div class="navigation-margin">
            <div class="toolbar">

              <span class="navigation-main-menu">

                  <a class="btn menu-btn" href="#">Services</a>

                  <a class="btn menu-btn" href="#">Products</a>

                  <a class="btn menu-btn" href="#">Info</a>

                  <a class="btn menu-btn" href="#">Contact</a>
              </span>


              <span >
                <div class="inline card-menu">
                  <a href=""> REGISTER</a>
                </div>

                <div class="inline card-menu primary primary-border">
                  <a href=""> LOG IN</a>
                </div>
              </span>

            </div>
          </div>
        </div>
      {% endblock %}
