option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "src/wsgi.py"
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "src.settings"
    ALLOWED_HOSTS: "['*', 'localhost', '127.0.0.1','django-env.eba-wmzdu4xz.us-west-2.elasticbeanstalk.com', 'django-env.eba-wmzdu4xz.us-west-2.elasticbeanstalk.com:8000', '.elasticbeanstalk.com']"
    DEBUG: "False"
    PORT: 8000
